h1.display-3 {
	text-align: center;
}

a {
    color: darkslategray
}

a:hover{
    color:deepskyblue
}

<<<<<<< HEAD
=======
Easy-nav {
    
}

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}
>>>>>>> 8464a6f831125aae8c81d3b6be617fe7d4ea13ed
