h1.display-3 {
	text-align: center;
}

a {
    color: darkslategray
}

a:hover{
    color:deepskyblue
}

Easy-nav {
    
}

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

img {
    width: 100%; /* or any custom size */
   
    object-fit: contain;
}

h2.text-center{
    margin-top: 50px;
    margin-bottom: 50px ;
}
p.main-text{
    line-height: 185%;
    font-size: 105%;
    margin-bottom: 30px;
}


